body {
  font-family: 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.header > button{
  margin:10px;
}

button.pure-button a{
  color:white !important;
  text-decoration: none !important;
}